.mainContentContainer {
	width: 100%;
	padding-top: 2rem;
	position: relative;
	pointer-events: none;

	.mainContent > :first-child {
		margin-top: 0;
	}
}

.mainPage .mainContentContainer {
	padding-left: var(--ASIDE-WIDTH);
}

.app .mainContent {
	position: relative;
}

.mainContent {
	width: 100%;
	padding: 1rem;
	pointer-events: all;
}

@media (max-width: 730px) {
	.mainPage .mainContentContainer {
		padding-left: 0;
	}

	.copyright {
		padding-bottom: 4rem;
	}
}
