.mainContentContainer {
	width: 100%;
	padding-top: 2rem;
	position: relative;
	pointer-events: none;

	.mainContent > :first-child {
		margin-top: 0;
	}
}

.mainPage .mainContentContainer {
	padding-left: var(--ASIDE-WIDTH);
}

.app .mainContent {
	position: relative;
}

.mainContent {
	width: 100%;
	padding: 1rem;
	pointer-events: all;
}

footer {
	margin-top: 2rem;

	p.copyright {
		text-align: center;
		font-size: 0.8rem;
		line-height: 1rem;
		color: var(--SECONDARY);
		opacity: 0.6;
		margin: 0;
	}
}

@media (max-width: 730px) {
	.mainPage .mainContentContainer {
		padding-left: 0;
	}

	footer {
		padding-bottom: 4.5rem;
	}
}
