.mainContentContainer {
	padding-left: var(--ASIDE-WIDTH);
	width: 100%;
	padding-top: 2rem;

	.mainContent > :first-child {
		margin-top: 0;
	}
}

.mainContent {
	width: 100%;
	padding: 1rem;

	h1 {
		font-size: 2.7rem;
		margin-bottom: 1rem;
		font-family: var(--SERIF);
		font-weight: 300;
	}

	h2 
	{
		font-size: 2.2rem;
		margin-top: 3rem;
		margin-bottom: 0.9rem;
		font-family: var(--SERIF);
		font-weight: 300;
	}

	p {
		font-size: 1rem;
		margin-bottom: 1rem;
		color: var(--SECONDARY);
		line-height: 1.6rem;

		strong {
			color: var(--TEXT);
		}

		a {
			color: var(--TEXT);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	a.blockLink {
		padding: 15px 10px;
		position: relative;
		margin: 12px 0;

		p,
		h3 {
			transition: all 300ms;
			margin: 0;
			padding: 0 10px;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.6rem;
			display: block;
		}

		h3 {
			color: var(--TEXT);
			font-weight: 700;
		}

		&:hover::after {
			background-color: var(--BACKGROUND-LIGHTER-2);
			transition: all 300ms var(--BOUNCE-BREZIER);
			padding: 3px 6px;
		}

		&::after {
			border: 1px solid var(--BORDER);
            box-shadow: var(--SHADOW);
			transition: all 300ms ease;
			border-radius: 6px;
			content: " ";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			background-color: var(--BACKGROUND-LIGHTER);
		}
	}

	a.seeMoreLink {
		display: flex;
		width: fit-content;
		color: var(--SECONDARY);

		&:hover {
			i {
				transform: translate(-15px);
				opacity: 1;
			}

			p {
				transform: translate(-5px);
			}
		}

		i {
			width: 0;
			transition: all 300ms;
			position: relative;
			top: 5px;
			margin-left: 5px;
			transform: translate(-25px);
			opacity: 0;
		}
	}

	a.blogEntry {
		display: flex;
		color: var(--SECONDARY);
		justify-content: space-between;
		align-items: center;

		p {
			text-wrap: nowrap;
		}
	}

	a.thumbnailEntry {
		display: flex;
		color: var(--SECONDARY);
		align-items: center;

		img {
			height: 70px;
			aspect-ratio: 1;
			object-fit: cover;
			margin: 0 5px;
			border-radius: 5px;
			box-shadow: var(--SHADOW), 0 0 1px #fff;
		}
	}

	footer
	{
		.copyright {
			text-align: center;
			font-size: 0.8rem;
			color: var(--SECONDARY);
			margin-top: 2rem;
		}
	}
}

@media (max-width: 730px) {
	.mainContentContainer {
		padding-left: 0;
	}
}
