@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
	--GLASS: hsla(150, 10%, 6%, 0.5);
	--GLASS-LIGHTER: hsla(150, 10%, 16%, 0.5);

	--BACKGROUND: hsl(150, 10%, 6%);
	--BACKGROUND-LIGHTER: hsl(150, 10%, 10%);
	--BACKGROUND-LIGHTER-2: hsl(150, 10%, 14%);

	--SELECTION: hsl(152, 12%, 32%);

	--TEXT: #d8dbd7;
	--SECONDARY: #8a8f8b;
	--BORDER: #5a645236;

	--SHADOW: 0 0 20px rgba(10, 20, 15, 0.1);
	--FLOATING-SHADOW: 0 0 30px rgba(10, 20, 15, 0.2), 0 0 15px rgba(10, 20, 15, 0.2);

	/* ========= */

	--SERIF: "Fraunces", serif;
	--SANS: "DM Sans", sans-serif;
	--MONO: "DM Mono", monospace;

	--BOUNCE-BREZIER: cubic-bezier(0.3, 2, 0.4, 1);
	--ASIDE-WIDTH: 230px;
}

@media (prefers-color-scheme: light) {
	:root {
		--GLASS: hsla(150, 10%, 92%, 0.5);
		--GLASS-LIGHTER: hsla(150, 10%, 97%, 0.5);

		--BACKGROUND: hsl(150, 15%, 96%);
		--BACKGROUND-LIGHTER: hsl(150, 5%, 92%);
		--BACKGROUND-LIGHTER-2: hsl(150, 5%, 89%);

		--SELECTION: hsl(149, 21%, 71%);

		--TEXT: #1e221f;
		--SECONDARY: #626b65;
		--BORDER: #b4c0b636;

		--SHADOW: 0 0 10px rgba(0, 0, 0, 0.05);
		--FLOATING-SHADOW: 0 0 20px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

html {
	scroll-behavior: smooth;
	::selection {
		background-color: var(--SELECTION);
	}
}

body {
	background-color: var(--BACKGROUND);
	color: var(--TEXT);
	font-family: "DM Sans";
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

#root > .mainContentContainer .mainContent,
.app {
	max-width: min(900px, calc(100% - 4rem));
	margin: auto;
}

* {
	box-sizing: border-box;
	text-decoration: none;
}

@media (max-width: 730px) {
	#root > .mainContentContainer .mainContent,
	.app {
		max-width: calc(100% - 2rem);
	}
}
