.gridHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;

	p {
		margin: 0;
	}

	.gridSettings
	{
		display: flex;
		gap: 10px;
	}

	button {
		transition: scale 300ms var(--BOUNCE-BREZIER), color 200ms ease;
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: var(--SECONDARY);
		font-size: 1rem;
		position: relative;
		top: 2px;
		padding: 0;
	}

	button:not(.current):hover {
		scale: 1.1;
	}

	button.current {
		color: var(--TEXT);
	}
}

.gridContent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;

	.widget {
		margin: 0;
	}
}

.gridItem {
	img {
		aspect-ratio: 16 / 9;
		width: calc(100% - 10px);
		object-fit: cover;
		margin: 0 5px;
		border-radius: 5px;
		box-shadow: var(--SHADOW), 0 0 1px #ffffff90;
	}

	.text {
		width: 100%;
		padding: 0 5px;
		max-height: 5.9rem;
		overflow: hidden;

		h3,
		p {
			padding-left: 0;
			line-height: 1.3rem;
			margin-top: 6px;
		}

		p 
		{
			text-overflow: ellipsis;
		}
	}
}

.gridContent.listView {
	grid-template-columns: 1fr;

	.gridItem {
		display: flex;
		gap: 5px;

		img {
			width: 160px;
		}
	}
}

@media (max-width: 900px) {
    .gridContent {
        grid-template-columns: 1fr;
    }
}
